body {
  background-color: #FA4F84;
}

.centered {
  margin-left: auto;
  margin-right: auto;
}

.scrollable {
  height: auto;
  max-height: 80vh;
  overflow: auto;
}


#user-interface {
  width: 70%;
  height: 60%;
  padding: 40px;
  margin-top: 50px;
  background-color: #ffffff;
  border: none;
  border-radius: 20px;
  gap: 40px;
  align-items: center;
  justify-content: center;
}

#question-header {
  background-color: #000000;
  padding: 40px 0px;
  margin: -40px;
  border-radius: 20px 20px 0 0;
}

#answers-list {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  justify-items: center; 
  align-items: center;
  margin-top: 40px;

}

.answer-btn {
  width: 100%;
  height: 80px;
  padding: 40px;
  background-color: #ffffff;
  border: #a9a9a9 2px solid;
  border-radius: 16px;
  cursor: pointer;
  font-size: 20px;
  color: #303030;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  box-sizing: border-box;
}

.answer-btn:hover {
  background-color: #cbcbcb;
  font-size: 24px;
  border-color: #505050;
}

h1 {
  font-size: 32px;
  font-family: Arial, Helvetica, sans-serif;
  width: 100%;
  color: #ffffff;
  font-weight: 200;
  text-align: center;
}

.next-question-button {
  width: 100%;
  height: 60px;
  color:  #3b3b3b;
  background-color: #ffffff;
  border: #a62e54 2px solid;
  border-radius: 30px;
  font-size: 20px;
  box-sizing: border-box;
}

.next-question-button:hover {
  background-color: #ffbed2;
  font-size: 130%;
}

.next-question-button:disabled {
  background-color: #c8c8c8;
  color: #858585;
  font-size: auto;
  border-color: #8e8e8e;
}

.question-text {
  width: 100%;
  align-items: center;
  justify-content: center;
  text-align: center;
}

#navigation {
  width: 80%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 40px;
  gap: 20px;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto; 
}

#start-quiz-button {
  width: 40%;
  height: 100px;
  color: #3b3b3b;
  background-color: #ffffff;
  border-radius: 50px;
  border: #a62e54 3px solid;
  align-items: center;
  text-align: center;
  justify-content: center;
  font-size: 24px;
  font-weight: bold;
  margin: 40px auto 0 auto; 
  display: flex;
}

#start-quiz-button:hover {
  width: 45%;
  font-size: 26px;
  background-color: #ffbed2;
}



.correct-answer {
  background-color: #00b400;
  color: white;
}

.incorrect-answer {
  background-color: #c40000;
  color: white;
}

.answer-btn:disabled {
  opacity: 0.5;
  pointer-events: none;
}


input {
  width: 60%;
  height: 24px;
  background-color: rgba(255, 255, 255, 0.828);
  border: #b7b7b7 2px solid;
  border-radius: 12px;
  padding: 10px;
  margin: 80px auto 20px auto;
  font-size: 18px;
  display: flex;
  outline: none;
}

input:focus {
  border: #555b56 2px solid;
  outline: none;
}

input::placeholder {
  color: #707070;
  font-size: 16px;
  font-style: italic;
}
